.btn-action {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: space-around;
}
.btn-action > * {
  min-width: 40%;
}

.profile-section-mini .avatar-section {
  background: #f5f5f5;
  min-height: 80px;
  max-height: 90px;
  display: flex;
  width: 100%;
  padding: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.profile-section-border {
  border-bottom: 1px solid #e0e0e0;
}

.list-group-name .ant-row {
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-group-name .ant-row > div {
  width: 46%;
  min-width: 150px;
}

.basic-news-form {
  min-width: 300px;
}

.basic-news-form .ant-upload.ant-upload-select-picture-card {
  min-width: calc(100%);
  max-width: 394px;
  /* height: 232px;
  max-height: 240px; */
}

.basic-news-form .ant-upload-list-picture-card-container {
  min-width: calc(100%);
  max-width: 394px;
  height: 232px;
  max-height: 240px;
}
